<header class="border-b border-slate-800 bg-slate-900/80 backdrop-blur">
  <div class="mx-auto flex max-w-6xl items-center justify-between px-6 py-4">
    <div>
      @if (user()) {
        <a routerLink="/user" class="text-md uppercase tracking-[0.2em] text-blue-300">Home Banking</a>
      }
      @else {
        <a routerLink="/login" class="text-md uppercase tracking-[0.2em] text-blue-300">Home Banking</a>
      }
    </div>
    <nav class="flex items-center gap-4 text-sm">
      @if (user()) {
      <a routerLink="/user" routerLinkActive="text-white" class="text-slate-400 hover:text-white">
        Profile
      </a>
      }
      @if (isAdmin()) {
      <a routerLink="/admin" routerLinkActive="text-white" class="text-slate-400 hover:text-white">
        Admin
      </a>
      }
      @if (!user()) {
      <a routerLink="/login" routerLinkActive="text-white" class="text-slate-400 hover:text-white">
        Login
      </a>
      }
      @if (!user()) {
      <button appButton [routerLink]="'/register'" variant="outline" shape="pill" size="sm">
        Register
      </button>
      }
      @if (user()) {
      <button appButton variant="outline" shape="pill" size="sm" (click)="logout()">
        Logout
      </button>
      }
    </nav>
  </div>
</header>